---
import Layout from '@/layouts/Layout.astro'
import StrongText from '@/components/StrongText.astro'
---

<Layout
title='Page not found - carloscabi'
description='Page not found!'>

<div class="w-full h-full flex flex-col justify-center align-middle text-gray-100">
  <div class="w-full mx-auto lg:w-3/4 px-5 lg:px-16 py-20 bg-zinc-950">
    <h1 class="text-2xl lg:text-4xl">404:</h1>
    <h2 class="text-xl lg:text-2xl">Oops! Looks like that page took a wrong turn. No worries, we all do sometimes. How about we head back to the homepage: <StrongText class="underline"> <a href="/">Here!</a> </StrongText></h2>
  </div>
</div>

</Layout>

<style>
  body {
    height: 100vh;
  }
</style>