---
import Layout from '../layouts/Layout.astro';

import MainContainer from '../components/MainContainer.astro'
import SectionContainer from '../components/SectionContainer.astro'
import SectionTitle from '../components/SectionTitle.astro'

import StrongText from '../components/StrongText.astro'
import Badge from '../components/Badge.astro'
import SocialPill from '../components/Pill.astro'


import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import EmailIcon from '../components/icons/Gmail.astro'
import EmailThinIcon from '../components/icons/GmailThin.astro'
import CodeTagIcon from '../components/icons/CodeTag.astro'
import PersonIcon from '../components/icons/Person.astro'

import Projects from '../components/Projects.astro'
import About from '../components/About.astro'
import Contact from '../components/Contact.astro'

import { EMAIL_CARLOS_CABI } from '@/consts'
---

<Layout 
title="Carlos Cabi - A Young Web Developer in process to reach a future"
description="I'm Carlos Cabi, a Full-Stack Web Developer with passion for crafting high-quality applications using React, Node.js, and more! Let's bring your web vision to life!"
>
<MainContainer>
    
    <SectionContainer class="flex flex-col gap-8">
      <div class="flex flex-col sm:flex-row items-center gap-5">
        
        <div class="rounded-full w-56 md:w-72 flex flex-col justify-center content-center p-1 bg-white">
          <img src="/avatar.svg" alt="avatar-carloscabi">
        </div>
  
        <div>
          <h1 class="flex flex-col sm:flex-row items-center gap-2 text-4xl mb-2 pb-3">
            Hey, I'm Carlos Cabi 
            <a href="https://www.linkedin.com/in/carlos-cabi/" target="_blank" rel="noopener" class="flex flex-col items-center px-1">
              <Badge class="md:text-[14px] md:ml-3" title="Go to my LinkedIn">Available for hire</Badge>
            </a>
          </h1>
          <p class="text-base text-center sm:text-lg sm:text-justify opacity-80 text-pretty">
            Enthusiastic Problem-solving<StrongText> Web Developer </StrongText> from Kentucky, the USA -en-. <StrongText>Always up for a challenge.</StrongText>
          </p>  
        </div> 

      </div>
      
      <div class="self-center">
        <nav class="flex gap-2">
          <SocialPill
          href={`mailto:${EMAIL_CARLOS_CABI}`}
          title="Send Email trough your default email client"
          >
            <EmailIcon class="size-4"/>
            {EMAIL_CARLOS_CABI}
          </SocialPill>

          <SocialPill 
          href="https://www.linkedin.com/in/carlos-cabi/" target="_blank"
          rel="noopener"
          title="Go to my LinkedIn">
            <LinkedInIcon class="size-3.5 "/>
            LinkedIn
          </SocialPill>
          
          <SocialPill
          href="https://github.com/carloscabir/"
          target="_blank"
          rel="noopener"
          title="Go to my GitHub">
            <GitHubIcon class="size-4"/>
            GitHub
          </SocialPill>
        </nav>
      </div>
    </SectionContainer>

    <SectionContainer id="projects">
      <SectionTitle class="text-2xl md:text-3xl flex items-center gap-x-2 mb-10">
        <CodeTagIcon class="size-7 h-7 inline sm:size-9" />
        Projects
      </SectionTitle>
      
      <Projects />
    </SectionContainer>

    <SectionContainer id="about">
      <SectionTitle>
        <PersonIcon class="size-7 inline sm:size-9" />
        About me
      </SectionTitle>
     
      <About />
    </SectionContainer>
  
    <SectionContainer id="contact">
      <SectionTitle>
        <EmailThinIcon class="size-7 inline sm:size-9"/>
        Contact
      </SectionTitle>
     
      <Contact />
    </SectionContainer>

  </MainContainer>
</Layout>