---
import Layout from '../layouts/Layout.astro';

import MainContainer from '../components/MainContainer.astro'
import SectionContainer from '../components/SectionContainer.astro'
import SectionTitle from '../components/SectionTitle.astro'

import EmailThinIcon from '../components/icons/GmailThin.astro'
import CodeTagIcon from '../components/icons/CodeTag.astro'
import PersonIcon from '../components/icons/Person.astro'

import Projects from '../components/Projects.astro'
import About from '../components/About.astro'
import Contact from '../components/Contact.astro'
import Intro from '../components/Intro.astro'

import StrongText from '@/components/StrongText.astro';
---

<Layout 
title="Carlos Cabi - A Young Web Developer in process to reach a future"
description="I'm Carlos Cabi, a Full-Stack Web Developer with passion for crafting high-quality applications using React, Node.js, and more! Let's bring your web vision to life!"
>
<MainContainer>
    
    <SectionContainer class="flex flex-col gap-8">
      <Intro>
        <p class="text-base text-center sm:text-lg sm:text-justify opacity-80 text-pretty">
          Enthusiastic Problem-solving <StrongText> Web Developer </StrongText> from Kentucky, the US. <StrongText>Always up for a challenge.</StrongText>
        </p> 
      </Intro>
    </SectionContainer>

    <SectionContainer id="projects">
      <SectionTitle class="text-2xl md:text-3xl flex items-center gap-x-2 mb-10">
        <CodeTagIcon class="size-7 h-7 inline sm:size-9" />
        Projects
      </SectionTitle>
      
      <Projects />
    </SectionContainer>

    <SectionContainer id="about">
      <SectionTitle>
        <PersonIcon class="size-7 inline sm:size-9" />
        About me
      </SectionTitle>
     
      <About>
      <p>
        I'm Carlos Camacho, but friends call me Cabi. <StrongText>Fueled by a passion for problem-solving,</StrongText> I became a <StrongText>self-taught programmer at 14.</StrongText> I particularly enjoy tackling algorithmic challenges on LeetCode to sharpen my problem-solving skills. <StrongText>The experience and time motivate me to dive into building Full-Stack applications.</StrongText>
      </p>

      <p>
        <StrongText> I'm currently focused on mastering the fundamentals of Full-Stack applications with technologies such as Node.js, React.js, GraphQL and MySQL.</StrongText> To solidify my knowledge, I'm actively building projects to practice my skills.
      </p>

      <p>
        As a High School Sophomore,<StrongText>I'm constantly learning and exploring new notions of life before venturing into college and adulthood.</StrongText>I'm particularly interested in Full Stack Web development and am actively building my skills to pursue a career in this field. <StrongText>My ultimate goal is to become a Software Engineer or Data Science Engineer.</StrongText>
      </p>
      </About>
    </SectionContainer>
  
    <SectionContainer id="contact">
      <SectionTitle>
        <EmailThinIcon class="size-7 inline sm:size-9"/>
        Contact
      </SectionTitle>
     
      <Contact />
    </SectionContainer>

  </MainContainer>
</Layout>