---
import StrongText from './StrongText.astro'
---

<article class="flex flex-col items-center justify-center gap-8 text-md text-pretty dark:text-gray-300 sm:flex-row">
  <div class="w-full flex flex-col gap-5 order-2 sm:order-1 text-pretty">
    <p>
      I'm Carlos Camacho, but friends call me Cabi. <StrongText>Fueled by a passion for problem-solving,</StrongText> I became a <StrongText>self-taught programmer at 14.</StrongText> I particularly enjoy tackling algorithmic challenges on LeetCode to sharpen my problem-solving skills. <StrongText>The experience and time motivate me to dive into building Full-Stack applications.</StrongText>
    </p>

    <p>
      <StrongText> I'm currently focused on mastering the fundamentals of Full-Stack applications with technologies such as Node.js, React.js, GraphQL and MySQL.</StrongText> To solidify my knowledge, I'm actively building projects to practice my skills.
    </p>

    <p>
      As a High School Sophomore,<StrongText>I'm constantly learning and exploring new notions of life before venturing into college and adulthood.</StrongText>I'm particularly interested in Full Stack Web development and am actively building my skills to pursue a career in this field. <StrongText>My ultimate goal is to become a Software Engineer or Data Science Engineer.</StrongText>
    </p>
  </div>

  <img class="w-64 h-full order-1 sm:order-2 object-cover p-1 aspect-square rounded-2xl rotate-2 ring-1 ring-gray-700 dark:ring-gray-300 bg-gray-950/30" src="./portrait.webp" alt="Carlos Cabi Photo">
</article>