<article class="flex flex-col items-center justify-center gap-8 text-md text-pretty dark:text-gray-300 sm:flex-row">
  <div class="w-full flex flex-col gap-5 order-2 sm:order-1 text-pretty">
   <slot />
  </div>

  <img class="w-64 h-full order-1 sm:order-2 object-cover p-1 aspect-square rounded-2xl rotate-2 ring-1 ring-gray-700 dark:ring-gray-300 bg-gray-950/30" src="/portrait.webp" alt="Carlos Cabi Photo">
</article>