<footer class="container max-w-screen-md mx-auto py-10 px-5 rounded-lg sm:rounded-sm bg-zinc-900/80 mb-3 flex justify-center sm:justify-start">
  <div>
    <span class="text-sm text-start sm:text-center">
      © 2024
      carloscabi. Almost all rights reserved
    </span>
  </div>
</footer>