---
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import EmailIcon from '../components/icons/Gmail.astro'

import Badge from '../components/Badge.astro'
import SocialPill from '../components/Pill.astro'

import { EMAIL_CARLOS_CABI } from '@/consts'
import { getLangFromUrl } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)

const CONTENT = {
  en: {
   TITLE: "Hey, I'm Carlos Cabi",
   HIRING: "Available for hire"
  },
  es: {
    TITLE: "Hey, soy Carlos Cabi",
    HIRING: "Disponible para trabajar"
  }
}

---

<div class="flex flex-col sm:flex-row items-center gap-5">
  <div class="rounded-full w-56 md:w-72 flex flex-col justify-center content-center p-1 bg-white">
    <img src="/avatar.svg" alt="Avatar Carlos Cabi">
  </div>

  <div>
    <h1 class="flex flex-col sm:flex-row items-center gap-2 text-4xl mb-2 pb-3">
      {CONTENT[lang].TITLE}

      <a href="https://www.linkedin.com/in/carlos-cabi/" target="_blank" rel="noopener" class="flex flex-col items-center px-1">
        <Badge class="md:text-[14px] md:ml-3" title="Go to my LinkedIn"> {CONTENT[lang].HIRING} </Badge>
      </a>
    </h1>
    
    <slot />
  </div> 
</div>

<div class="self-center">
  <nav class="flex gap-2">
    <SocialPill
    href={`mailto:${EMAIL_CARLOS_CABI}`}
    title="Send Email trough your default email client"
    >
      <EmailIcon class="size-4"/>
      {EMAIL_CARLOS_CABI}
    </SocialPill>

    <SocialPill 
    href="https://www.linkedin.com/in/carlos-cabi/" target="_blank"
    rel="noopener"
    title="Go to my LinkedIn">
      <LinkedInIcon class="size-3.5 "/>
      LinkedIn
    </SocialPill>
    
    <SocialPill
    href="https://github.com/carloscabir/"
    target="_blank"
    rel="noopener"
    title="Go to my GitHub">
      <GitHubIcon class="size-4"/>
      GitHub
    </SocialPill>
  </nav>
</div>