---
import LanguageIcon from "../components/icons/Language.astro"
import { languages } from '../i18n/navUi'
---

<div>
  <div>
    <button>
      <LanguageIcon />
    </button>
  </div>
  
  <div></div>
</div>