---
import Layout from '../../layouts/Layout.astro'
import Projects from '@/components/Projects.astro'
import About from '@/components/About.astro'
---

<Layout
description='Si'
title='Pagina en Español'>
<br>
<br>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>Hola</h1>
  <About/>
</Layout>