---
import '@fontsource-variable/onest';

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
	title: string
  description: string
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/avatar.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={`
    relative 
    bottom-0
    left-0
    right-0
    top-0
    
    bg-[#d2d3db]
    text-black
    
    bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#3030300a_1px,transparent_1px)]
    bg-[size:16px_26px]

    dark:bg-[#121212]
    dark:text-white/95
    dark:font-normal
    dark:bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)]`}>

    <Header />

		<slot />
	
    <Footer/>
    
  </body>
</html>

<style is:global>
	:root {
    color-scheme: light dark;
	}

	html {
		font-family: 'Onest variable', system-ui, sans-serif;
    font-size: 16px;
    width: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  main {
    padding: 0 2rem;
  }

  img,
  video,
  svg {
    width: 100%;
    height: auto;
  }
  
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  /* @media (prefers-color-scheme: dark) {
    body {
      color: #f2f2f2;
      background-color: #121212;
    }
  } */
</style>
